*, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2F2F2;
    font: 62.5%/2.3em Verdana, Tahoma;
    text-align: left;
}

a {
    color: #000077;
    text-decoration: none;
    outline: none;
}

    a:hover {
        text-decoration: underline;
    }

.clear {
    clear: both;
    font-size: 0;
}

.bold {
    font-weight: bold;
}

img {
    border: 0;
}

form {
    margin: 0;
    padding: 0;
}


#wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 0 23px 0 23px;
    text-align: left;
    background: #FFFFFF url(../img/bcgr.gif) repeat-y 0 0;
}

#wrapper_under_construction {
    width: 960px;
    height: 223px;
    margin: 0 auto;
    padding: 0 23px 0 23px;
    text-align: left;
    background: #FFFFFF url(../img/bcgr.gif) repeat-y 0 0;
}

#container {
    /*  overflow:hidden;*/
    float: left;
    margin-top: 0px;
    display: inline;
}

    #container td.containercell {
        padding: 0px;
    }

/*________________________________  HEADER  _____________________________*/
#header {
    /*overflow:hidden;*/
    /*height:1%;*/
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    display: inline;
}

#logo {
    float: left;
    padding: 0 0 0 20px;
    background: url(../img/head_small.jpg) no-repeat left top;
    height: 145px;
    text-align: center;
}

    #logo .logolink {
        float: left;
        width: 240px;
        height: 145px;
        background: #F7F7F7 url(../img/logo1.jpg) no-repeat center top;
    }

    #logo .logolink_under_construction {
        float: left;
        width: 240px;
        height: 145px;
        background: url(../img/logo1.jpg) no-repeat center top;
        padding-top: 90px;
        /*background-color:Transparent;*/
    }

    #logo a {
        display: block;
        width: 240px;
        height: 80px;
        text-align: center;
    }


    #logo h1 {
        color: #000077;
        font-size: 1.0em;
        font-weight: bolder;
        font-family: Tahoma;
        line-height: 1.2em;
        /*position:relative;*/
        margin-top: 0px;
        letter-spacing: 0.01em;
        text-align: center;
    }



    #logo h2 {
        color: #000077;
        font-size: 1.45em;
        font-weight: bolder;
        font-family: Arial;
        line-height: 1.2em;
        letter-spacing: -0.05em;
        text-align: center;
        margin-top: 5px;
    }

#bar {
    float: left;
    height: 155px;
    width: 690px;
    background: #e5e2d4 url(../img/head_big.jpg) no-repeat 0 0;
    margin-left: 10px;
    display: inline;
}

    #bar .headertext {
        float: left;
        width: 350px;
    }

    #bar h1 {
        color: #000077;
        font-size: 3.0em;
        font-family: Tahoma;
        line-height: 1.2em;
        /*position:absolute;*/
        font-weight: normal;
        margin-top: 40px;
        margin-left: 45px;
        /* width:690px;*/
    }

#help {
    color: #333333;
    font-size: 12px;
    float: left;
    padding-top: 6px;
    padding-right: 31px;
    padding-bottom: 10px;
    padding-left: 0;
    margin-left: 410px;
    display: inline;
    margin-top: 0px;
    background-repeat: no-repeat;
    background-position: right 0;
}


#header #bar .flags {
    float: right;
    width: 90px;
    height: 20px;
    margin-top: 84px;
    margin-right: 151px;
    margin-bottom: 5px;
    display: inline-block;
}

    #header #bar .flags img {
        padding: 0px;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
    }



/*________________________________  FOOTER  _____________________________*/
#footer {
    height: 27px;
    clear: both;
    color: #FFFFFF;
    text-align: center;
    font-size: 10px;
    margin: 25px 0 0 0;
    padding: 13px 0 0 0;
    background: url(../img/foot.gif) repeat-x 0 0;
}

#footer_under_construction {
    width: 960px;
    height: 27px;
    clear: both;
    color: #FFFFFF;
    text-align: center;
    font-size: 10px;
    margin-bottom: 0px;
    padding: 13px 0 0 0;
    margin-left: 0px;
    background: url(../img/foot.gif) repeat-x 0 0;
}
/*________________________________  NAVIGATION  _____________________________*/
/*#nav{
	float:left;
	list-style:none;
	width:260px;
	margin-top: 3px;
}


#nav .item{
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-left: 0;
	padding-top: 0;
	padding-right: 5px;
	padding-bottom: 0;
	padding-left: 5px;
	overflow: hidden;
	height:24px;
    font-size:1.3em;
    line-height:1.1em;
    border-style:solid;
	border-color:#007DD6;
	border-width:1px;
	background:#EEF5FB;
}

#nav .hover
{
  color:#FFFFFF;
  background:#007DD6;
}

#nav .selected{
  color:#FFFFFF;
  background:#007DD6;
}

.dynamicItem
{
	padding:2px 2px;
	border-style:solid;
	border-color:#007DD6;
	border-width:1px;
	font-size:1.3em;
	font-family:Verdana;
	background-color:#EEF5FB; 
	text-align:left;
}*/

/*________________________________  CONTENT  _____________________________*/
#content {
    float: left;
    overflow: hidden;
    width: 690px;
    margin-top: -8px;
}

.search_panel {
}

.ImageButton {
    vertical-align: middle;
}

.search_panel h2 {
    padding: 20px 30px 20px 30px;
    font-size: 1.7em;
    color: #6E6E6E;
    background: #DCDCDC;
}

.search_form {
    background: #EFEFEF;
    padding: 20px 30px 20px 30px;
}

label {
    font-size: 1.1em;
}

/*контрол с текст*/
.labelControl {
    font-family: Verdana, Arial, "Times New Roman", Times, serif;
    font-size: 12px;
}

.labelControlGridCells {
    font-family: Verdana, Arial, "Times New Roman", Times, serif;
    font-size: 12px;
    text-align: left;
    width: 700px;
}

.labelControlSupportSignals {
    font-family: Verdana, Arial, "Times New Roman", Times, serif;
    font-size: 12px;
    margin-right: 12px;
    font-weight: bold;
}

.labelControlRequired {
    font-family: Verdana, Arial, "Times New Roman", Times, serif;
    font-size: 12px;
    color: #f06c00;
}

.labelControlRequiredSmall {
    font-family: Verdana, Arial, "Times New Roman", Times, serif;
    font-size: 10px;
    color: #f06c00;
}

.labelError {
    font-family: Verdana, Arial, "Times New Roman", Times, serif;
    font-size: 12px;
    color: Red;
}

.linkControl {
    font-family: Verdana, Arial, "Times New Roman", Times, serif;
    font-size: 12px;
    color: #f17310;
    text-decoration: underline;
    font-weight: bold;
}

.linkControlBlack {
    font-family: Verdana, Arial, "Times New Roman", Times, serif;
    font-size: 12px;
    text-decoration: underline;
    font-weight: bold;
}

.textboxControl {
    font-family: Verdana, Arial, "Times New Roman", Times, serif;
    font-size: 12px;
    /*border-style:groove;
    border-style:solid;
	border-color:#f06c00;
	border-width:1px;*/
    height: 18px;
}

.textboxControlRight {
    font-family: Verdana, Arial, "Times New Roman", Times, serif;
    font-size: 12px;
    height: 18px;
    margin-right: 12px;
}

.buttonControl {
    font-family: Verdana, Arial, "Times New Roman", Times, serif;
    font-size: 12px;
    /*border-style:solid;
	border-color:#f06c00;
	border-width:2px;
	background-color:#EEF5FB;
	color:#007DD6;*/
    font-weight: bold;
}

.whiteLink {
    color: #ffffff;
    text-decoration: underline;
}

.buttonControlNews {
    font-family: Verdana, Arial, "Times New Roman", Times, serif;
    font-size: 12px;
    /*border-style:solid;
	border-color:#f06c00;
	border-width:2px;
	background-color:#EEF5FB;
	color:#007DD6;*/
    font-weight: bold;
    margin-right: 12px;
}

.buttonControlSupportSignals {
    font-family: Verdana, Arial, "Times New Roman", Times, serif;
    font-size: 12px;
    font-weight: bold;
    margin-right: 12px;
    width: 100px;
}

.buttonControl1 {
    font-family: Verdana, Arial, "Times New Roman", Times, serif;
    font-size: 12px;
    /*border-style:solid;
	border-color:#f06c00;
	border-width:2px;
	background-color:#EEF5FB;
	color:#007DD6;*/
    font-weight: bold;
    width: 100px;
}

.buttonControl2 {
    font-family: Verdana, Arial, "Times New Roman", Times, serif;
    font-size: 12px;
    /*border-style:solid;
	border-color:#f06c00;
	border-width:2px;
	background-color:#EEF5FB;
	color:#007DD6;*/
    font-weight: bold;
    width: 170px;
}

.labelTitle {
    color: #f06c00;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 15px;
}

.labelTitleLeft {
    /*color: #f06c00;*/
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 12px;
    margin-right: 15px;
    font-weight: bold;
}

.labelTitleOld {
    color: #f06c00;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 25px;
    font-size: 12px;
    margin-right: 15px;
    font-weight: bold;
}

/*контрол с текст bold*/
.labelControlBold {
    font-family: Verdana, Arial, "Times New Roman", Times, serif;
    font-size: 12px;
    font-weight: bold;
}

.labelControlBoldSmall {
    font-family: Verdana, Arial, "Times New Roman", Times, serif;
    font-size: 10px;
    font-weight: bold;
}

.labelControlOrangeBoldSmall {
    font-family: Verdana, Arial, "Times New Roman", Times, serif;
    font-size: 10px;
    font-weight: bold;
    color: #f17310;
}

.labelFont11 {
    font-family: Verdana, Arial, "Times New Roman", Times, serif;
    font-size: 11px;
    text-align: justify;
}

.labelControlBoldLarge {
    font-family: Verdana, Arial, "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: bold;
}

.input, .select, .textarea {
    /*border:1px solid #CCCCCC;*/
}

.input, .select {
    padding: 2px 0 2px 0;
}

.input {
    width: 100px;
}

.submit {
    background-color: transparent;
    background-image: url(../img/searchbtn.gif);
    background-repeat: no-repeat;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    height: 22px;
    width: 82px;
    padding-top: 0;
    padding-right: 5px;
    padding-bottom: 0;
    padding-left: 5px;
}

.datepicker {
    margin: 0;
}

.datepicker_button {
}

    .datepicker_button img {
    }

.num_input {
    width: 166px;
    font-size: 12px;
    font-family: Courier, Arial, Verdana, Times, serif;
    padding-left: 4px;
    letter-spacing: 11px;
    background: url(../img/inp_grid.gif) repeat-x 0 0;
}

.search_results {
    padding: 20px 30px 20px 30px;
    margin: 10px 0 0 0;
    background: #EFEFEF;
}

.results_table {
    width: 100%;
    font-size: 1.1em;
    border: 0;
}

    .results_table td {
        border: 0;
        padding: 5px 5px 5px 5px;
    }

        .results_table td.date {
            width: 10%;
        }

        .results_table td.time {
            width: 10%;
        }

        .results_table td.title {
        }

    .results_table .odd {
        background: #DEECF8;
    }

    .results_table .even {
        background: #FFFFFF;
    }


/*________________________________  HOME  _____________________________*/
.home #day_id {
    margin: 0 30px 0 0
}

.home #week_id {
    margin: 0 30px 0 0
}

.home #month_id {
    margin: 0 30px 0 0;
}

.home #date_from_id {
    margin: 0 0 0 0
}

.home .datepicker_button {
    margin-right: 30px
}
/*________________________________  ACTUAL  _____________________________*/
.actual #eik_id {
}

.actual .submit {
    margin: 0 130px 0 0
}
/*________________________________  REPORT  _____________________________*/
.reports #firm_id {
    width: 350px;
}

.reports #person2_id {
    margin-left: 50px
}

.reports #choose_id {
    font-size: 1.3em
}

#mainContent h1 {
    color: #666666;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 195%;
}

#mainContent {
    float: left;
    width: 690px;
}

#top {
    float: left;
    width: 690px;
    margin-top: 10px;
    display: inline;
}

#bar #topcontainer {
    float: left;
    width: 230px;
    margin-top: 11px;
    margin-left: 93px;
    display: inline;
    padding: 0px;
    /*padding-bottom:50px;*/
}

#topcontainer_under_construction {
    float: left;
    width: 1000px;
    margin-left: 80px;
    margin-bottom: 2px;
    display: inline;
    padding: 0px;
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    color: #000077;
}

#topcontainer ul {
    list-style-type: none;
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

    #topcontainer ul li a.search {
        background-image: url(../img/assets/searchicon1.png);
        background-repeat: no-repeat;
        text-indent: -5000px;
        display: block;
        height: 26px;
        width: 31px;
    }



    #topcontainer ul li a.support {
        background-image: url(../img/assets/supporticon1.png);
        background-repeat: no-repeat;
        text-indent: -5000px;
        display: block;
        height: 26px;
        width: 31px;
    }

    #topcontainer ul li a.home {
        background-image: url(../img/Icons/homeicon1.png);
        background-repeat: no-repeat;
        text-indent: -5000px;
        display: block;
        height: 26px;
        width: 31px;
    }

    #topcontainer ul li a.sitemap {
        background-image: url(../img/assets/sitemapicon1.png);
        background-repeat: no-repeat;
        text-indent: -5000px;
        display: block;
        height: 26px;
        width: 31px;
    }

    #topcontainer ul li a.contact {
        background-image: url(../img/assets/contacticon1.png);
        background-repeat: no-repeat;
        text-indent: -5000px;
        display: block;
        height: 26px;
        width: 31px;
    }

#topcontainer input {
    margin: 0px;
}


#mainContent p {
    margin-top: 3px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 115%;
    line-height: 1.3em;
}

#searchBox {
    float: left;
    width: 260px;
    display: inline;
    height: 25px;
}

    #searchBox input {
        font-size: 10px;
        width: 180px;
        padding: 3px;
    }

.topcontent {
    float: left;
    width: 660px;
    padding: 15px;
}

#searchBox input.searchbtn {
    background-color: transparent;
    background-image: url(../img/submitbtn.gif);
    background-repeat: no-repeat;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    height: 22px;
    width: 27px;
    display: inline;
    text-indent: -5000px;
}

/*________________________________  CONTROLS  _____________________________*/
.mainTable {
    width: 690px;
    border-style: solid;
    border-color: #e5e4e1;
    border-width: 1px;
    text-align: left;
    margin-left: 4px;
    margin-right: auto;
    margin-top: 8px;
}

.tdLoginHeader {
    background-color: #e4e4e0;
    color: #f17310;
}

.tableLogin {
    width: 200px;
    border: 1px solid #e5e4e1;
    text-align: left;
    background-color: #fafaf7;
}

.mainTable100 {
    width: 680px;
}

/*________________________________  CONTENT  _____________________________*/

#mainContent a.documents {
    display: block;
    background-color: #FAFAFC;
    width: 600px;
    padding: 3px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #C8D7FB;
}

    #mainContent a.documents:hover {
        display: block;
        background-color: #FAFAFC;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #6792F3;
        text-decoration: none;
    }

p.newsTitle {
    background-color: #E9E9E9;
    padding: 4px;
    display: block;
    width: auto;
    font-weight: bold;
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: #0079D4;
    color: #0079D4;
    margin-top: 10px;
    margin-bottom: 2px;
}

p.newsText {
    margin-top: 4px;
    margin-bottom: 5px;
    padding: 4px;
}

#mainContent table {
    margin-left: 15px;
}

    #mainContent table td {
        padding: 4px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #1A6DB3;
    }

    #mainContent table th {
        padding: 4px;
        background-color: #E9E9E9;
        color: #007DD6;
        text-align: left;
    }


        #mainContent table th.position {
            font-size: 1.1em;
            width: 150px;
        }

#mainContent ul li {
    font-size: 1.3em;
    color: #066FCB;
    background-image: url(../img/sitemapbullet.gif);
    background-repeat: no-repeat;
    padding-top: 7px;
    padding-right: 5px;
    padding-bottom: 7px;
    padding-left: 25px;
    background-position: left 5px;
}

#mainContent ul {
    padding: 0px;
    margin-left: 10px;
    list-style-type: none;
    margin-top: 15px;
}

    #mainContent ul li ul li {
        font-size: 1em;
        font-style: italic;
    }

    #mainContent ul li ul {
        margin-top: 3px;
    }

/*________________________________  GRID VIEW  _____________________________*/

/* Forum*/
table.sample {
    border-width: 1px;
    border-style: solid;
    border-color: #e5e4e1;
    border-collapse: inherit;
    background-color: white;
    font-size: 11px;
    width: 100%;
}

    table.sample td {
        border-width: 1px;
        border-style: solid;
        border-color: #e5e4e1;
        font-size: 11px;
        background-color: #fafaf7;
    }

table.sampleNoBorder {
    border-width: 0px;
    border-style: none;
    border-color: #e5e4e1;
    border-collapse: separate;
    background-color: white;
    width: 600px;
}

    table.sampleNoBorder td {
        border-width: 0px;
        padding: 2px;
        border-style: none;
        border-color: #e5e4e1;
        background-color: #fafaf7;
    }
/*End Forum*/

GridViewControl {
    border-style: solid;
    border-color: #007DD6;
    border-width: 1px;
}

.GridViewHeader {
    font-family: Verdana, Arial;
    font-size: 10px;
    text-align: center;
    FONT-WEIGHT: bold;
    color: #f17310;
    background-color: #e5e4e1;
}

.InsolvencyGridViewHeader th {
    font-family: Verdana, Arial;
    font-size: 16px;
    text-align: left !important;
    FONT-WEIGHT: bold;
    color: #f17310;
}

.GridViewItems {
    font-family: Verdana, Arial;
    font-size: 12px;
    background: #fafaf7;
    text-align: center;
    color: #000000;
}

.AlternateGridViewItems {
    font-family: Verdana, Arial;
    font-size: 12px;
    background: #ffffff;
    /*background: #F3F8FD;
	background: #fafaf7;*/
    text-align: center;
    color: #000000;
}

/*Grid view for forum*/
GridViewForum {
    border-style: solid;
    border-color: #007DD6;
    border-width: 1px;
}

.GridViewForumHeader {
    font-family: Verdana, Arial;
    font-size: 12px;
    FONT-WEIGHT: bold;
    color: #f17310;
    background-color: #e5e4e1;
    text-align: center;
}

.GridViewForumItems {
    font-family: Verdana, Arial;
    font-size: 12px;
    background: #fafaf7;
    text-align: center;
    color: #000000;
}

.AlternateGridViewForumItems {
    font-family: Verdana, Arial;
    font-size: 12px;
    text-align: center;
    color: #000000;
}

.dropDown {
    vertical-align: -2px;
    font-size: 10px;
    font-weight: bold;
}

.dropDownRight {
    vertical-align: -2px;
    font-size: 12px;
    margin-right: 12px;
}

.imageButton {
    vertical-align: -2px;
}

.lblPager {
    vertical-align: 10px;
}

/*________________________________  NAVIGATION  _____________________________*/
#nav {
    float: left;
    display: block;
    list-style: none;
    width: 260px;
    margin-top: 7px;
    margin-right: 0px;
}

    #nav li {
        padding: 0 0 0 10px;
        margin: 0 0 3px 0;
        background: url(../img/nav_bg.gif) no-repeat 0 0;
        /* height:32px;*/
        display: block;
        overflow: hidden;
    }

        #nav li a {
            color: #7e4a2d;
            height: 24px;
            font-size: 12px;
            line-height: 1.1em;
            padding: 8px 0 0 6px;
            display: block;
            background: #FFFFFF;
        }

            #nav li a:hover {
                background: #fafaf7;
            }

        #nav li .selected {
            color: #f06c00;
            /*background:#dad5c1;*/
            background: url(../img/nav_bg.gif);
            font-weight: bold;
        }

            #nav li .selected:hover {
                background: url(../img/nav_bg.gif);
            }

#subnav {
    list-style: none;
    margin: 3px 0 0 5px;
    font-size: 12px;
}

    #subnav li {
        display: block;
        padding: 10px 13px 10px 13px;
        background: #fafaf7;
        height: 10px;
    }

        #subnav li a {
            font-size: 1em;
            background: transparent;
            display: inline;
            margin: 0;
            padding: 0;
        }

            #subnav li a:hover {
                background: transparent;
            }

#subnavmap {
    list-style: none;
    margin-left: 20px;
    font-weight: normal;
    font-size: 12px;
}

/*________________________________  DEFAULT PAGE DIVS  _____________________________*/

#documents {
    height: 65px;
    width: 323px;
    background: url(../img/dokumenti.gif);
    text-align: center;
}

#tregister {
    height: 65px;
    width: 323px;
    background: url(../img/targovski_registar.gif);
    text-align: center;
}

#opisanie {
    height: 65px;
    width: 323px;
    background: url(../img/opisanie.gif);
    text-align: center;
}

#normBase {
    height: 65px;
    width: 323px;
    background: url(../img/normativna_baza.gif);
    text-align: center;
}

#logIn {
    height: 47px;
    width: 191px;
    background: url(../img/vhod.gif);
    text-align: center;
}

#userInfo {
    height: 47px;
    width: 191px;
    background: url(../img/vhod.gif);
    text-align: center;
}

.labelDefaultTitle {
    color: #f06c00;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 25px;
    font-size: 12px;
    margin-right: 15px;
    font-weight: bold;
}

.linksTable {
    background: #fafaf7;
    width: 100%;
    border-style: solid;
    border-color: #e5e4e1;
    border-width: 1px;
    text-align: left;
}

.labelDefaultTitleSmall {
    color: #f06c00;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 25px;
    font-size: 10px;
    margin-right: 15px;
    font-weight: bold;
}

/*________________________________  FORUM TABLES  _____________________________*/

.mainForumTable {
    background: #fafaf7;
    width: 600;
    border-style: solid;
    border-color: #e5e4e1;
    border-width: 10px;
    border-color: Red;
    text-align: center;
}

.mainForumTableHeaderLabel {
    color: #f06c00;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 12px;
    margin-right: 15px;
    font-weight: bold;
    /*text-align:center;*/
}

.ViewThreadTable {
    background: #fafaf7;
    width: 650px;
    border-style: solid;
    border-color: #e5e4e1;
    border-width: 1px;
    text-align: center;
    border-collapse: separate;
}
